#app {
  --scale: 2;

  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: calc(1rem * var(--scale));
  gap: 1em;
}

#app h2 {
  margin: 0;
}

@media (min-width: 768px) {
  #app {
    --scale: 3;
  }
}

@media (min-width: 1200px) {
  #app {
    --scale: 4;
  }
}
