.obstacles-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  font-size: 0.8em;
}

.obstacles-selector h4 {
  margin: 0;
  font-size: 1em;
}

@media (max-width: 768px) {
  .obstacles-selector h4 {
    width: 100%;
    text-align: center;
  }
}

.obstacles-selector button {
  padding: 0.2em 0.5em;
}

.obstacles-selector button.active {
  opacity: 0.5;
  pointer-events: none;
}
